*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #502971, #76459e);
    min-height: 100vh;
    backdrop-filter: blur(10px);
}

header{
    font-size: 2rem;
    color:#fff;
}


header, form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

form input{
    color: #fff;
    padding: 1rem 4rem 1rem 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background:#41106b;
}

.todo-Button{
    position: relative;
    left: -2.5em;
    color:#fff;
    font-size: 1em;
    border:none;
    /**background: #ff7178;
    border-radius: 100%;*/
    background: none;
    cursor: pointer;
    padding: 0.4em;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 5rem 0rem;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255,255,255,0.30);
    box-shadow: 0 0 20px 0 rgba(0, 2, 32, 0.2);
    border: 1px solid rgba(255,255,255,0.10);
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(10deg) rotateX(10deg);
    opacity: 0;
}

select{
    cursor: pointer;
}

.trash-btn{
    color: rgba(155, 0, 0, 0.5);
    margin: 0 1.5em 0em 1.5em;
    cursor: pointer;
    border: none;
    background: none;
}
.complete-btn{
    font-size: 1em;
    color:#fff;
    background: none;
    border: none;
    padding: 0.3em;
    cursor: pointer;
    background: #ff7178;
    border-radius: 100%;
}